.sliders {
    padding-left: $size;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(sm) {
       padding-left: $size-sm;
    }
}

.sliders__bottom {
    position: absolute;
    bottom: 0;
    left: $size;
    width: calc(75% - #{$size});
    height: $size;
    display: flex;
    align-items: center;
    z-index: 10;
    @include media-breakpoint-down(sm) {
        left: $size-sm;
        width: calc(100% - #{$size-sm});
        height: $size-sm;
        }
}

.sliders__social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}

.sliders__social-item {
    width: $size;
    height: $size;
        &:last-child .sliders__social-link {
            border-right: 3px solid $accent;
            }
    @include media-breakpoint-down(sm) {
        width: $size-sm;
        height: $size-sm;
    } 
}

.sliders__social .sliders__social-link {
    border: none;
    border-right: 1px solid rgba(#fff, $border-opacity*2);
    background-color: $dark;
}

.sliders__scroll {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.sliders__scroll .swiper-scrollbar {
    height: 1px;
    width: 100%;
    background-color: rgba(#fff, .2);
}

.sliders__scroll .swiper-scrollbar-drag {
    height: 3px;
    margin-top: -1px;
    background-color: $accent;
}

.sliders__nav {
    flex: 0 0 140px;
    height: $size;
}

.sliders__nav .sliders__nav-wrapper {
    position: relative;
    max-width: 70px;
    height: 100%;
    margin: auto;
    @include media-breakpoint-down(sm) {
        height: $size-sm;
        left: -25px;
    }
}

.sliders__nav .swiper-button-prev,
.sliders__nav .swiper-button-next {
    margin-right: -5px;
    top: 60%;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid $accent;
    background-color: $dark;
    color: $accent;
       &::after {
           font-size: 10px;
       }
}

.sliders__nav .swiper-button-prev {
    left: 0;
}

.sliders__nav .swiper-button-next {
    right: 0;
}

.sliders__nav .swiper-button-disabled {
    opacity: 1;
    border-color: #8A8A8A;
    color: #8A8A8A;
}

.sliders__container {
    height: 100%;
    width: 75%;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.sliders__dots {
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;
    @include media-breakpoint-down(sm) {
        height: $size-sm;
        display: none;
    }
}

.sliders__dots .swiper-pagination {
    position: relative;
}

.sliders__dots .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin-right: 15px;
    opacity: 1;
    background-color: #fff;
        &:last-child {
           margin-left: 0;
        }
}

.sliders__dots .swiper-pagination-bullet-active {
    position: relative;
    background-color: $accent;
    transition: background .5s ease-out;
        &:before {
           content: '';
           position: absolute;
           width: 14px;
           height: 14px;
           border-radius: 100%;
           border: 1px solid $accent;
           top: -4px;
           left: -4px;
        }
}

.sliders__count {
    position: absolute;
    width: 120px;
    height: 80px;
    right: 20px;
    top: 30px;
    z-index: 100;
    font-family: oswald-vh, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    @include media-breakpoint-down(md) {
        top: 0;
        right: 0;
        transform: scale(.6);
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.sliders__count-current {
    display: inline-block;
    min-width: 42px;
    font-family: oswald-vh, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    color: $accent;
}

.sliders__count-total {
    font-family: oswald-vh, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
}

.sliders__pagination-current {
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 100px;
    font-family: oswald-vh, sans-serif;
    color: $deep;
    -webkit-text-stroke: 1px #7f7f7f;
    @include media-breakpoint-down(md) {
        font-size: 50px;
        bottom: 0;
        right: 20px;
    }
}

.sliders__pagination-dot {
    -webkit-text-stroke: 1px transparent;
    color: $accent;
}

.sliders__gear {
    width: 470px;
    height: 470px;
    position: absolute;
    top: 50%;
    margin-top: -270px;
    right: calc(23.8% - 235px);
    background-image: url(../images/dist/gear.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    @include media-breakpoint-down(sm) {
        display: none;
    }

}





